language: php

php:
  - 7.0
  - 7.1
  - 7.2

install: travis_retry composer install --no-interaction --prefer-source

script:
  - vendor/bin/phpunit --coverage-clover=coverage.clover
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
